{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome, {{ session.username }}</h1>
    <img src="{{ session.photo_url }}">
    <a class="btn btn-success" href="/add_article">Add Article</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for article in all_articles %}
            <tr>
                <th class="align-middle" scope="row">{{ article.id }}</th>
                <td class="align-middle">{{ article.title }}</td>
                <td class="align-middle">{{ article.author }}</td>
                <td class="align-middle">{{ article.create_date }}</td>
                <td><a href="edit_article/{{ article.id }}" class="btn btn-default">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}